<div class="card3">
    <div class="container3">
      <div style="display: flex; justify-content: center;gap: 30px; margin-top: 1%;">
        <li style="list-style: none; margin-left: 10;"></li>  <a href=" https://wa.me/919168771199" target="_blank"><img src="/assets/whatsapp.png" style="width: 60px; margin-top: -17%"></a>
        <br>
        <li style="list-style: none;"><img src="/assets/instagram.png" style="width: 40px;"></li>
        <br>
        <li style="list-style: none;"><img src="/assets/facebook1.png" style="width: 40px; "></li>
      </div>
      <div id="botpress-webchat" class="chatbot-container"></div>
  
      <div>
        <ul style="color: black; list-style: none; display: flex; justify-content: center; gap: 20px; margin-top: 10px; flex-wrap: wrap;margin-left: 0px;text-align: center;">
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large; text-decoration: none;" routerLink="/products">Products</a></li>
          <br>
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;text-decoration: none;" routerLink="/contact">Contact</a></li>
          <br>
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;text-decoration: none;" routerLink="/solutions">Solutions</a></li>
          <br>
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: large;text-decoration: none;" routerLink="/help">Help</a></li>
        </ul>
      </div>
      <div style="color: #ffffff; font-weight: 1000px;">
        Copyright © VPTronics. All Rights Reserved.
      </div>
    </div>
  </div>
