<nav class="navigation-bar">
  <div class="container">   
    <img  class="responsive-img" src="/assets/Screenshot 2024-03-02 132840.png" >
    <nav  class="navbar navbar-custom" [ngClass]="{'expanded': menuOpen}">
      <ul class="nav-list" [ngClass]="{'open': menuOpen}" style="color: rgb(255, 255, 255); ">
          <li><u><h5 class="item" id="item" routerLink="/home" >Home</h5></u></li>
          <li><u><h5 class="item" id="item" routerLink="/products">Products</h5></u></li>
          <li><u><h5 class="item" id="item" routerLink="/contact">Contact</h5></u></li>
          <li><u><h5 class="item" id="item" routerLink="/help">Help</h5> </u></li>
          <li><u><h5 class="item" id="item" routerLink="/solutions">Solutions</h5></u></li>
      </ul>
        <a  href="javascript:void(0);" class="icon" (click)="toggleMenu()">
        &#9776;
      </a>
  </nav>
  </div> 
</nav> 

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.6852270430177!2d73.91912857465167!3d18.49791196986709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c16a390ac845%3A0x6f610dab384d1c4a!2sVP%20Tronics%20Pvt.%20Ltd.%2CPlot%20no.%204%2F8%2B9%2B40%2C%20Ramtekadi%2C%20Hadapsar%20Pune%20411028!5e0!3m2!1sen!2sin!4v1718961680872!5m2!1sen!2sin"    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="container2">
  <div class="myclass">
    <h1 style="font-weight: bold; color:#0b0e6f">GET IN TOUCH WITH US</h1>
    <p>Based in Pune, VP Tronics is renowned for its exceptional services for the acclaimed UPS brand, VPUPS. Our company specializes in the development, manufacturing, and marketing of top-tier power products and solutions. We are dedicated to delivering the most efficient and dependable power solutions tailored to our customers' unique needs and requirements. If you have any comments or questions about our products and services, please let us know.</p>
    <h4 style="color:#0b0e6f">Head Office</h4>
    <p style="font-weight: bold;">VP UPS<br>VP Tronics Pvt.Ltd</p>
    <p >VPElectronics Chopade Audogik Sankul Survey No 8+9+40 Ground Floor Workshop No 1 MIDC, Ramtekadi, Hadapsar Pune, Maharashtra 411023, India</p>
    <h4 style="color:#0b0e6f"> CALL US</h4>
    <p>+91 9823076106 <br> +91 9028249904</p>
    <h4 style="color:#0b0e6f">EMAIL US</h4>
    <p>vpups.pune&#64;gmail.com <br> santoshgaikwad5&#64;gmail.com</p>
  </div>
<div class="card2">
  <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:40px; font-weight:bolder">Send Message</h2>
          <form [formGroup]="help" (ngSubmit)="myhelp()">
              <input class="form-control " [class.is-invalid] = "help.get('Name')?.invalid  && help.get('Name')?.touched"style="margin-top:5%" formControlName="Name" placeholder="Your Name" >
              <small [class.d-none]="help.get('Name')?.valid || help.get('Name')?.untouched" class="text-danger">required</small>
              <input style="margin-top: 5%;" class="form-control" [class.is-invalid] = "help.get('Email')?.invalid  && help.get('Email')?.touched" formControlName="Email" placeholder="Your Email Id" >
              <small [class.d-none]="help.get('Email')?.valid || help.get('Email')?.untouched" class="text-danger">Enter Valid Email</small>
              <input  style="margin-top: 5%; " class="form-control" [class.is-invalid] = "help.get('Phone')?.invalid  && help.get('Phone')?.touched" formControlName="Phone" placeholder="Phone" >
              <small [class.d-none]="help.get('Phone')?.valid || help.get('Phone')?.untouched" class="text-danger">required</small>
              <input [class.is-invalid] = "help.get('Phone')?.invalid  && help.get('Phone')?.touched" style="margin-top:5%;" class="form-control" formControlName="Subject" placeholder="Subject" >            
               <small [class.d-none]="help.get('Subject')?.valid || help.get('Subject')?.untouched" class="text-danger">required</small>
              <textarea [class.is-invalid] = "help.get('Query')?.invalid  && help.get('Query')?.touched" style="margin-top: 5%; height: 150px;" class="form-control" formControlName="Query" placeholder="Your Message"></textarea>
              <small [class.d-none]="help.get('Query')?.valid || help.get('Query')?.untouched" class="text-danger">required</small>
              <button type="submit" class="btn btn-success" style="margin-left: 70%;margin-top:50px; width:30%">Submit</button>
          </form>
          <app-loader [loading]="loading"></app-loader>
</div>
</div>
<div class="card3">
  <div class="container3">
    <div style="display: flex; justify-content: center;gap: 30px; margin-top: 1%;">
      <li style="list-style: none; margin-left: 10;"></li>  <a href=" https://wa.me/919028249904" target="_blank"><img src="/assets/whatsapp.png" style="width: 35px;mix-blend-mode: darken; "></a>
      <br>
      <li style="list-style: none;"><a href="http://www.instagram.com/santoshgaikwad987"><img src="/assets/instagram.png" style="width: 60px;mix-blend-mode: darken; margin-top: -17%;"></a></li>
      <br>
      <li style="list-style: none;"><a href="http://www.facebook.com/profile.php?id=100005470960934"><img src="/assets/facebook1.jpeg" style="width: 35px; mix-blend-mode: darken;"></a></li>
    </div>
    <div id="botpress-webchat" class="chatbot-container"></div>

    <div>
      <ul style="color: black; list-style: none; display: flex; justify-content: center; gap: 20px; margin-top: 10px; flex-wrap: wrap;">
        <li><a style="color: black; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large; text-decoration: none;" routerLink="/products">Products</a></li>
        <br>
        <li><a style="color: rgb(0, 0, 0); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;text-decoration: none;" routerLink="/contact">Contact</a></li>
        <br>
        <li><a style="color: rgb(0, 0, 0); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;text-decoration: none;" routerLink="/solutions">Solutions</a></li>
        <br>
        <li><a style="color: rgb(0, 0, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: large;text-decoration: none;" routerLink="/help">Help</a></li>
      </ul>
    </div>
    <div style="color: #000000; font-weight: 1500px;">
      &#64; Copyright 
    </div>
  </div>
</div>