<app-header></app-header>
<app-loader [loading]="loading"></app-loader>
<iframe class="map"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.6852270430177!2d73.91912857465167!3d18.49791196986709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c16a390ac845%3A0x6f610dab384d1c4a!2sVP%20Tronics%20Pvt.%20Ltd.%2CPlot%20no.%204%2F8%2B9%2B40%2C%20Ramtekadi%2C%20Hadapsar%20Pune%20411028!5e0!3m2!1sen!2sin!4v1718961680872!5m2!1sen!2sin"
  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="container2">
  <div class="myclass">
    <h1 style="font-weight: bold; color:#0b0e6f">GET IN TOUCH WITH US</h1>
    <p>Based in Pune, VP Tronics is renowned for its exceptional services for the acclaimed UPS brand, VPUPS. Our
      company specializes in the development, manufacturing, and marketing of top-tier power products and solutions. We
      are dedicated to delivering the most efficient and dependable power solutions tailored to our customer's unique
      needs and requirements. If you have any comments or questions about our products and services, please let us know.
    </p>
    <h4 style="color:#0b0e6f">Address</h4>
    <p style="font-weight: bold;">VP Tronics Pvt. Ltd</p>
    <p>Chopade Audogik Sankul,Ramtekadi Industrial Area, Near ION Exam Centre,Plot no. 4/8+9+40, Ramtekdi, <br>Hadapsar
      Pune 411028, India</p>
    <h4 style="color:#0b0e6f"> CALL US</h4>
    <div style="display: flex; justify-content: left; flex-wrap: wrap;">
      <img src="assets/call.svg" style="width: 80px; height: 80px">
      <p style="margin-top: 2%;">+91 9823076106 <br> +91 9168771199</p>
    </div>
    <h4 style="color:#0b0e6f">EMAIL US</h4>
    <div style="display: flex; justify-content: left; flex-wrap: wrap;">
      <img src="assets/emailus.svg" style="width: 80px; height: 80px">
      <p style="margin-top: 2%;">vpups.pune&#64;gmail.com <br> support&#64;vp-ups.com</p>
    </div>
  </div>
  <div class="card2">
    <h2
      style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:40px; font-weight:bolder">
      Send Message</h2>
    <form [formGroup]="help" (ngSubmit)="myhelp()">
      <input class="form-control " [class.is-invalid]="help.get('Name')?.invalid  && help.get('Name')?.touched"
        style="margin-top:5%" formControlName="Name" placeholder="Your Name">
      <small [class.d-none]="help.get('Name')?.valid || help.get('Name')?.untouched"
        class="text-danger">required</small>
      <input style="margin-top: 5%;" class="form-control"
        [class.is-invalid]="help.get('Email')?.invalid  && help.get('Email')?.touched" formControlName="Email"
        placeholder="Your Email Id">
      <small [class.d-none]="help.get('Email')?.valid || help.get('Email')?.untouched" class="text-danger">Enter Valid
        Email</small>
      <input style="margin-top: 5%; " class="form-control"
        [class.is-invalid]="help.get('Phone')?.invalid  && help.get('Phone')?.touched" formControlName="Phone"
        placeholder="Phone">
      <small [class.d-none]="help.get('Phone')?.valid || help.get('Phone')?.untouched"
        class="text-danger">required</small>
      <input [class.is-invalid]="help.get('Phone')?.invalid  && help.get('Phone')?.touched" style="margin-top:5%;"
        class="form-control" formControlName="Subject" placeholder="Subject">
      <small [class.d-none]="help.get('Subject')?.valid || help.get('Subject')?.untouched"
        class="text-danger">required</small>
      <textarea [class.is-invalid]="help.get('Query')?.invalid  && help.get('Query')?.touched"
        style="margin-top: 5%; height: 150px;" class="form-control" formControlName="Query"
        placeholder="Your Message"></textarea>
      <small [class.d-none]="help.get('Query')?.valid || help.get('Query')?.untouched"
        class="text-danger">required</small>
      <br />
      <re-captcha formControlName="recaptcha" [siteKey]="siteKey" (resolved)="onCaptchaResolved($event)">
      </re-captcha>

      <button type="submit" [disabled]="help.invalid" class="btn btn-primary"
        style="margin-left: 70%;margin-top:20px; width:30%;border-radius: 20px">Submit</button>
    </form>
  </div>
</div>
<app-chatbot></app-chatbot>
<app-footer></app-footer>