<app-header></app-header> 

<div class="parallax2">
  <h1 style="color: white;">SOLUTIONS</h1>
  <div style="text-align: center;">
  <p class="text" >VP Tronics is a major player in the Power Electronics industry in India serving a wide range of customers including Banks & Financial services, Government, Manufacturing, Retail and Corporate Customers.</p>
    </div>
  <div class="container5">
  <div class="card4 scroll-animation" style="background-image:linear-gradient( rgba(0, 0, 0, 0.12), rgba(1, 1, 0, 1.3)), url(/assets/pump.png);">
    <div style="color: white;">
      <p style="font-size: 40px; font-weight: lighter;">Petrol Pumps</p>
      <p style="font-size: 16px; font-weight: lighter;"> Petrol pumps require continuous power to operate fuel dispensers, payment terminals, and safety systems. Power outages can lead to significant operational disruptions and financial losses. Our UPS ensures uninterrupted power supply, enabling petrol pumps to provide reliable service and maintain safety protocols.    </p>
    
    </div>
  </div>
    <div class="card4 scroll-animation" style="background-image:linear-gradient( rgba(0, 0, 0, 0.42), rgba(1, 1, 0, 1.3)), url(/assets/industry.png);">
      <div style="color: white;">
        <p style="font-size: 40px; font-weight: lighter;">Manufactoring</p>
       <p style="font-size: 17px; font-weight: lighter;"> Manufacturing uses very sophisticated CNC Machines and precision tools to make parts and assemblies. Power outage leads to loss of job, expensive tools and time. Our UPS provides uninterrupted clean power helping industries deliver as per schedule. Precision and quality.
      </p>
      </div>
  </div>
    <div class="card4 scroll-animation" style="background-image:linear-gradient( rgba(0, 0, 0, 0.42), rgba(1, 1, 0, 1.3)), url(/assets/office.png);">
      <div style="color: white;">
        <p style="font-size: 40px; font-weight: lighter;">Offices</p>
        <p style="font-size: 17px; font-weight: lighter;">Offices depend on uninterrupted power to keep computers and systems running. Power outages can lead to data loss and reduced productivity. Our UPS ensures stable, clean power to protect equipment and maintain business operations.</p>
       
      </div>
  </div>
    <div class="card4 scroll-animation" style="background-image:linear-gradient( rgba(0, 0, 0, 0.42), rgba(1, 1, 0, 1.3)), url(/assets/medical.png);">
      <div style="color: white;">
        <p style="font-size: 40px; font-weight: lighter;">Medical</p>
        <p style="font-size: 16px; font-weight: lighter;"> Medical facilities depend on a reliable power source to operate life-saving equipment, diagnostic machines, and essential lighting. Power failures can jeopardize patient care and safety. Our UPS delivers uninterrupted power, protecting critical medical devices and supporting healthcare professionals in delivering timely and accurate treatment.      </p>
      
    </div>
  </div>
    <div class="card4 scroll-animation" style="background-image:linear-gradient( rgba(0, 0, 0, 0.42), rgba(1, 1, 0, 1.3)), url(/assets/education.png); ">
      <div style="color: white;">
        <p style="font-size: 40px; font-weight: lighter;">Education</p>
        <p style="font-size: 16px; font-weight: lighter;">Educational institutions need reliable power for classrooms and labs. Power outages can disrupt teaching and administration. Our UPS delivers consistent power to ensure uninterrupted learning and smooth operations.</p>
         
    </div>
  </div>
    <div class="card4 scroll-animation" style="background-image:linear-gradient( rgba(0, 0, 0, 0.42), rgba(1, 1, 0, 1.3)), url(/assets/medical.png); margin-bottom: 2%;">
      <div style="color: white;">
        <p style="font-size: 40px; font-weight: lighter;">Malls</p>
        <p style="font-size: 16px; font-weight: lighter;">Malls require stable power for lighting, HVAC, security, and operations. Power outages can impact business, security, and shopper comfort. Our UPS provides uninterrupted power, improving customer experience and ensuring smooth operations.</p>
      
    </div>
  </div>
</div>
</div>
<app-chatbot></app-chatbot>

<app-footer></app-footer>

