<app-header></app-header>
<div class="container4">
  @if (images) {
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img style="filter: brightness(60%);" [src]="images[0]" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h1 style=" font-weight: lighter;text-shadow: 3px 3px #000000">VP Tronics Pvt Ltd</h1>
          <br>
          <span style="text-shadow: 3px 3px #000000">Welcome to India's most reputed Service and Solution providers of Uninterruptible Power Supply Systems (UPS)</span>
          <br>
          <div class="button-container">
          <button  class="parallaxbutton" (click)="navigation('/products')" >PRODUCTS</button>
          <br>
          <button  class="parallaxbutton" (click)="navigation('/contact')">CONNECT</button>
        </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img style="filter: brightness(50%);" [src]="images[1]" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          <h1 style="  font-weight: lighter;text-shadow: 3px 3px #000000">Providing Best And Proven Solutions</h1>
          <br>
          <span style="text-shadow: 3px 3px #000000" >A COMPLETE POWER BACKUP SOLUTION FOR EVERYONE!
            <br>We provide versatile power products and solutions for homes, offices, small businesses, and large industries, meeting high standards for various applications.</span>
            <br>
            <div class="button-container">
            <button  class="parallaxbutton" (click)="navigation('/solutions')" >SOLUTIONS</button>
            <br>
            <button  class="parallaxbutton" (click)="navigation('/help')" >CONNECT</button>
          </div>
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img style="filter: brightness(50%); left: 0; right: 0; width: 100%;"[src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h1 style=" font-weight: lighter;text-shadow: 3px 3px #000000">THE BEST POWER PROTECTION & POWER BACKUP SOLUTIONS</h1>
          <br>
          <span style="text-shadow: 3px 3px #000000">To ensure the protection of electrical,Electronics, Medical, Laboratory equipments, servers and Networking equipments, we offer extremely reliable and high quality UPS systems manufactured with advanced technology to meet international standards.</span>
        </div>
      </ng-template>
    </ngb-carousel>
  }  
  <div class="scroll-container">
    <div class="scrolling-images">
      <img src="assets/Product1.png" alt="Product 1">
      <img src="assets/Product2.png" alt="Product 2">
      <img src="assets/Product3.png" alt="Product 3">
      <img src="assets/Product4.png" alt="Product 4">
      <img src="assets/Product1.png" alt="Product 1">
      <img src="assets/Product2.png" alt="Product 2">
      <img src="assets/Product3.png" alt="Product 3">
      <img src="assets/Product4.png" alt="Product 4">
      <img src="assets/Product1.png" alt="Product 1">
      <img src="assets/Product2.png" alt="Product 2">
      <img src="assets/Product3.png" alt="Product 3">
      <img src="assets/Product4.png" alt="Product 4">
    </div>
  </div>
  


  <div class="about">
    <h1 style="text-align: center;">
      <span style="color: rgb(0, 0, 84);">About  </span> 
      <span style="color: rgb(0, 60, 255);"> Us</span>
    </h1>
    <br>
    <div class="about-container">
      <div class="aboutimage">
        <img src="assets/about.jpg" style="width: 550px;" class="myimage scroll-animation">
      </div>
      <div class="about-text" >
        <p class="scroll-animation">Welcome to VP Tronics Pvt Ltd, a leading name in the field of Uninterruptible Power Supply (UPS) systems and solutions.</p>
        <p class="scroll-animation">With a legacy of excellence and innovation, we are committed to delivering reliable and high-quality power backup solutions that cater to a wide range of applications, from homes and small businesses to large industrial setups.</p>
        <p class="scroll-animation">Our expertise lies in providing state-of-the-art UPS systems and services designed to meet international standards, ensuring the protection and uninterrupted operation of your critical equipment. </p>
       <p class="scroll-animation"> At VP Tronics Pvt Ltd, we pride ourselves on our dedication to customer satisfaction, cutting-edge technology, and our mission to provide the best power protection and backup solutions in the industry.</p>
      </div>
    </div>
    <br>

  </div>
<div class="container2">
  <br>
  <h1 style="text-align: center; color: white;">Products</h1>
  <div class="col" style="margin-bottom: 5%;">
    <div class="column" >
      <div class="card1 scroll-animation">
        <img src="/assets/Product1.png">
        <br>
        <br>
        <h4>Online UPS HF Series (1-3KVA)</h4>
        <button class=" btn btn-primary" (click)="navigation('/products/hf-series')">Read More</button>
      </div>
    </div>
    <div class="column">
      <div class="card1 scroll-animation">
        <img  src="/assets/Product2.png">
        <br>
        <br>
        <h4>Online UPS XP Series (6K - 10K)</h4>
        <button class=" btn btn-primary" (click)="navigation('/products/xp-series')">Read More</button>
      </div>
    </div>
      <div class="column">
        <div class="card1 scroll-animation">
          <img src="/assets/Product5.png">
          <br>
          <br>
          <h4>Online UPS Master Series (10-30KVA)</h4>
          <button class=" btn btn-primary" (click)="navigation('/products/master-series')">Read More</button>
        </div>
      </div>
    <div class="column">
      <div class="card1 scroll-animation">
        <img  src="/assets/Product4.png">
        <br>
        <br>
        <h4>Online UPS GP Series (6-10KVA)</h4>
        <button class=" btn btn-primary" (click)="navigation('/products/gp-series')">Read More</button>
      </div>
    </div>
    
    <br>
  </div>

<!-- ---------------------------------------------------------------3 cards ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->


<div class="parallax2">
  <br>
  <h1 style="color: white; text-align: center;">Solutions</h1>
<div class="column2">
 
  <div class="card3 scroll-animation" >
    <img src="assets/bank.webp">
    <h4 style="color: rgb(0, 0, 84);">Banking and Finanace</h4>
  </div>
  <div class="card3 scroll-animation">
    <img src="assets/automobile.webp" >
    <h4 style="color: rgb(0, 0, 84);">Automobile Services</h4>

  </div>
  <div class="card3 scroll-animation">
    <img src="assets/industry.webp">
    <h4 style="color: rgb(0, 0, 84);">Industry</h4>
  </div>

  <div class="card3 scroll-animation">
    <img src="assets/petrol.png" >
    <h4 style="color: rgb(0, 0, 84);">Petrol Pumps</h4>
  </div>

  <div class="card3 scroll-animation" style="margin-bottom: 3%;">
    <img src="assets/education.webp" >
    <h4 style="color: rgb(0, 0, 84);">Educational Institutes</h4>
  </div>
  <div class="card3 scroll-animation" style="margin-bottom: 3%;">
    <img src="assets/health.svg" style="mix-blend-mode:multiply;">
    <h4 style="color: rgb(0, 0, 84);">HealthCare </h4>
  </div>
  <div class="card3 scroll-animation" style="margin-bottom: 3%;">
    <img src="assets/offices.webp" >
    <h4 style="color: rgb(0, 0, 84);">IT Sector and offices</h4>
  </div>
  <div class="card3 scroll-animation" style="margin-bottom: 3%;">
    <img src="assets/mall.png">
    <h4 style="color: rgb(0, 0, 84);">Malls and Markets</h4>
  </div>
</div>
</div>

<div class="connect">
  <br>
  <h1 style="text-align: center;">
    <span style="color: rgb(0, 0, 84);">Connect  </span> 
    <span style="color: rgb(0, 60, 255);"> with us</span>
  </h1>
  <div style="display: flex; justify-content: center; flex-wrap: wrap;">
  <iframe class="map scroll-animation" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.6852270430177!2d73.91912857465167!3d18.49791196986709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c16a390ac845%3A0x6f610dab384d1c4a!2sVP%20Tronics%20Pvt.%20Ltd.%2CPlot%20no.%204%2F8%2B9%2B40%2C%20Ramtekadi%2C%20Hadapsar%20Pune%20411028!5e0!3m2!1sen!2sin!4v1718961680872!5m2!1sen!2sin"    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="mycontainer">
    <div class="row1">
      <div class="mycard scroll-animation">
        <i class="bi bi-send-fill"></i>
        <h3>Email</h3>
        <hr class="divider"/>
        <br>
        <h5
          class="clickable red"
          (click)="openEmail('vpups.pune@gmail.com')"
        >
          vpups.pune&#64;gmail.com
        </h5>
        <h5
          class="clickable red"
          (click)="openEmail('support@vp-ups.com')"
        >
        support&#64;vp-ups.com        
      </h5>
      </div>
      <div class="mycard scroll-animation">
        <i class="bi bi-phone-fill"></i>
        <h3>Phone</h3>
        <hr class="divider" />
        <br>
        <h5 class="gray">+91 9823076106</h5>
        <h5 class="gray">+91 9168771199</h5>
      </div>
      <br>
      
    </div>
  </div>
  
</div>
</div>
<div class="parallax2">
  <br><br>
  <h1 style="text-align: center;">
    <span style="color: rgb(255, 255, 255);">Why  </span> 
    <span style="color: rgb(0, 60, 255);"> Choose Us</span>
  </h1>
  
  <div class="container5">
    <div class="card4 scroll-animation">
      <img src="assets/shrength.png">
      <h3 style="color: rgb(0, 0, 84);">Our Strengths</h3>
      <ul style="display: flex; list-style: none; gap: 20px;">
        <li>
          <h5 class="title">Dedicated Support Team : <span class="description"><br>Our experienced team is committed to providing exceptional support and service for all UPS brands.</span></h5>

        </li>
        <li>
          <h5 class="title"> Trusted UPS Services : <span class="description"><br>We at VP Tronics provide service for all multinational and local UPS brand</span></h5>

        </li>
      </ul>
    </div>
    <div class="card4 scroll-animation">
      <img src="assets/network.jpg" >
      <h3 style="color: rgb(0, 0, 84);">Our Network</h3>
      <ul style="display: flex; list-style: none; gap: 20px;">
        <li>    <h5 class="title">Reliable Service network :  <span class="description"><br>We rely on a trusted network to offer consistent and dependable UPS services.</span></h5>
        </li>
        <li>    <h5 class="title">Wide Service Reach :<span class="description"><br>We have a wide service reach to provide UPS support wherever you need it.</span></h5>
        </li>
      </ul>
    </div>
    <div class="card4 scroll-animation">
      <img src="assets/quality.jpg">
      <h3 style="color: rgb(0, 0, 84);">Product Quality</h3>
      <ul style="display: flex; list-style: none; gap: 20px;">
      <li>    <h5 class="title">Highest Quality Products: <span class="description"><br>We deliver only the highest quality products, guaranteed.</span></h5>
      </li>
      <li>    <h5 class="title">Wide Range of Products: <span class="description"><br>Our extensive product range meets all your power solution needs.</span></h5>
      </li>
    </ul>
    </div>
    <div class="card4 scroll-animation">
      <img src="assets/economy.png" style="mix-blend-mode:hard-light;">
      <h3 style="color: rgb(0, 0, 84);">Economical Solutions</h3>
      <ul style="display: flex; list-style: none; gap: 20px;">
      <li>    <h5 class="title">Economical Power Solutions: <span class="description"><br>We offer cost-effective power solutions without compromising quality.</span></h5>
      </li>
      <li>    <h5 class="title">Customize Power Solution: <span class="description"><br>Tailored power solutions designed specifically for your requirements.</span></h5>
      </li>
    </ul>
    </div>
  </div>
<br>
</div>
</div>

<!-- Chatbot container -->
<app-chatbot></app-chatbot>
<div class="mission-vision-values">
  <div class="section-title">
    <h1>
    <span >Vision, Mission </span>
      <span style="color: rgb(0, 60, 255);">& Values</span>
    </h1>
  </div>
  
  <div class="content">
    <!-- Mission Block -->
    <div class="vmcard">
      <div class="vmcard-image">
        <img src="assets/vision.png" alt="Vision Image" />
      </div>
      <div class="vmcard-text">
        <h2>VISION</h2>
        <p><strong>Innovation</strong>, continuous improvement, and the work for reliable and cost-effective solutions are at the heart of the company's development and nationwide success.</p>
      </div>
    </div>
    

    <!-- Vision Block -->
     <div class="middle">  </div>
     <div class="vmcard">
      <div class="vmcard-image">
        <img src="assets/mission.png" alt="Mission Image" />
      </div>
      <div class="vmcard-text">
        <h2>MISSION</h2>
        <p>To offer comprehensive <strong> UPS solutions</strong> tailored to our clients' needs, prioritizing quality service and support.</p>
      </div>
    </div>
    
    <div class="middle">  </div>


    <!-- Values Block -->
    <div class="vmcard">
      <div class="vmcard-image">
        <img src="assets/values.png" alt="Values Image" />
      </div>
      <div class="vmcard-text">
        <h2>VALUES</h2>
        <p>Respect<br>Commitment<br>Rigor</p>
      </div>
    </div>
  </div>
</div>

</div>
  <div class="card">
    <div class="container3">
      <div style="display: flex; justify-content: center;gap: 30px;">
        <li style="list-style: none; margin-left: 10;"></li>  <a href=" https://wa.me/919168771199" target="_blank"><img src="/assets/whatsapp.png" style="width: 60px; margin-top: -17%"></a>
        <br>
        <li style="list-style: none;"><img src="/assets/instagram.png" style="width: 40px;"></li>
        <br>
        <li style="list-style: none;"><img src="/assets/facebook1.png" style="width: 40px; "></li>
      </div>

      <div>
        <ul style="color: black; list-style: none; display: flex; justify-content: center; gap:20px; margin-top: 10px; flex-wrap: wrap;">
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large; text-decoration: none;" routerLink="/products">Products</a></li>
          <br>
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;text-decoration: none;" routerLink="/contact">Contact</a></li>
          <br>
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;text-decoration: none;" routerLink="/solutions">Solutions</a></li>
          <br>
          <li><a style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: large;text-decoration: none;" routerLink="/help">Help</a></li>
        </ul>
      </div>
      <div style="color: #ffffff; font-weight: 1500px;">
        Copyright © VPTronics. All Rights Reserved. 
      </div>
    </div>
  </div>




      